box2d-py==2.3.5
cloudpickle==3.1.1
Farama-Notifications==0.0.4
filelock==3.18.0
fsspec==2025.7.0
gymnasium==1.1.1
importlib_metadata==8.7.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
-e git+https://github.com/qgallouedec/panda-gym.git@10c4d8adaab07d8a29b2f8dc0aa85f8edd8532ae#egg=panda_gym&subdirectory=../../../rl/panda-gym
pybullet==3.2.7
pygame==2.6.1
scipy==1.13.1
swig==4.3.1
sympy==1.14.0
torch==2.7.1
tqdm==4.67.1
typing_extensions==4.14.1
zipp==3.23.0
